body{
 background-image:url(\IU.jfif);
 background-size:100%;
 
}
.frame{
    display:flex; /*水平排列*/

}

.left{
display: flex;
flex:none;  /*固定配置*/
width: 100%;
font-size:200%;
font-weight:900;
justify-content: center;
background-color: rgb(42, 43, 57);
color:white;

}

.right{
display:flex; /*讓下一層次水平排列*/
justify-content:flex-end;/*水平對齊*/
flex:none;  /*固定配置*/
width: 50%;
}

 .item{
    flex:none;
    width:100px;
    margin-right:10px;
    text-align: center;
 }


 .welcome{
 
    justify-content: center;
    align-items: center;
    height:300px;

 }

 .text{
    width:1000px;height: 40px;
    font-size:30px;
    font-weight: bold;
    text-align: center;
    color:rgb(0, 0, 0);
    margin-bottom: 30px;
    margin-top: 30px;
 }

 .tex1{
    width:300px;height: 40px;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    color:rgb(235, 91, 91);
    margin-bottom: 50px;
 }
